# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
shamefully-hoist=true
public-hoist-pattern[]=*@nextui-org/*
node-linker=hoisted
# For China 🇨🇳 developers
electron_mirror=https://npmmirror.com/mirrors/electron/
# Mirror for npm packages
registry=https://registry.npmmirror.com/
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas